-if (event)
  div#venue.fade
    a(href='https://m.facebook.com/event.php?eid=#{event.fbId}', target='_blank')
      p
        =event.venue.name || 'Event venue'
        - var now = new Date();
        -if (event.start <= now && event.end > now)
          span.status.live live now
        -else
          -if (event.end < now)
            span.status.finished finished
          -else
            span.status.comingup
              =timeLeft(event)
              
  div#details.fade
    table
      tr.title
        td
          img(src='images/equalizer.png')
          =event.title || 'Event title'
        td.action
          a(href='https://m.facebook.com/event.php?eid=#{event.fbId}', target='_blank')
            img(src='/images/arrow.png')
      tr.distance
        td
          img(src='images/compass.png')
          span.value unknown 
          | Km from you
        td.action
          a(href='#', target='_blank')
            img(src='/images/arrow.png')
      tr.people
        td
          img(src='images/martini.png')
          span.value -
          |  people clubbing
        td.action
          a(href='https://foursquare.com/mobile/checkin?vid=#{event.venue.foursquareId}', target='_blank')
            img(src='/images/arrow.png')
-else
  div#details.fade
    p
      | no upcoming event

div#player

div#social
  p
    a(href='https://www.facebook.com/officialdaniels', target='_blank', class='facebook')
      | Facebook
    a(href='https://twitter.com/#!/officialdaniels', target='_blank', class='twitter')
      | Twitter

div(style='display: none')
  p#latitude
    =event.venue.latitude
  p#longitude
    =event.venue.longitude

script(type='text/javascript')
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      venue_coords = {latitude: $('#latitude').text(), longitude: $('#longitude').text()}
      $('.distance .value').text(Geolocation.haversine(position.coords, venue_coords));
      $('.distance .action a').attr('href', 'http://maps.google.com/maps?saddr=' + position.coords.latitude + ',' + position.coords.longitude + '&daddr=' + venue_coords.latitude + ',' + venue_coords.longitude);
    });
  } else {
    error('Geo Location is not supported');
  }
  Geolocation = {
    rad: function(x) { return x * Math.PI / 180 },

    haversine: function(source, destination) {
      var earthRadius = 6371;
      var dLat  = this.rad(destination.latitude - source.latitude);
      var dLong = this.rad(destination.longitude - source.longitude);
      var a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(this.rad(source.latitude)) * Math.cos(this.rad(destination.latitude)) * Math.sin(dLong/2) * Math.sin(dLong/2);
      var angularDistance = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
      var distance = earthRadius * angularDistance;
      return Math.round(distance);
    }
  }
  $(document).ready(function(){
    $.getJSON('/venues/#{event.venue.foursquareId}/herenow', function(data){
      $('.people .value').text(data.count);
    });
    $.getJSON('http://api.soundcloud.com/users/59587/tracks.json?client_id=3c9850440cebbb3ca144a1502d7d5493', function(tracks){
      var latestTrackId = tracks[0].id;
      $('#player').html('<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F' + latestTrackId + '&amp;auto_play=false&amp;show_artwork=true&amp;color=ff7700"></iframe>');
    })
  });

-if (process.env.NODE_ENV == 'production')
  script(type="text/javascript")
    var GoSquared={};
    GoSquared.acct = "GSN-344536-P";
    (function(w){
      function gs(){
        w._gstc_lt=+(new Date); var d=document;
        var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
      }
      w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
    })(window);